.navigationBar.active::before {
  position: absolute;
  bottom:0;
  left: 50%;
  width: 89px;
  height: 4px;
  content: "";
  background-color: #2f80ed;
  border-radius: 4px 4px 0 0;
  transform: translateX(-50%);
}
.navigationActive {
  width: 100%;
  position: relative;
  cursor: pointer;
  padding: 18px;
}
.navigationActive:hover{
  background-color: #dfdfdf54;
}