.container .form {
  margin-bottom: 32px;
}

.navigation-bar:hover {
  cursor: pointer;
}

input#input-title {
  padding: 20px 0px 19px 12px;
  width: 462px;
  margin-right: 25px;
  border-radius: 12px;
  border: 1px solid #bdbdbd;
  outline: none;
  color: #828282;
  font-size: 14px;
}

.body {
  width: 610px;
}
button.btn {
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-width: 0;
  padding: 19px 39px;
  border-radius: 12px;
  background: #2f80ed;
  box-shadow: 0px 2px 6px 0px rgba(127, 177, 243, 0.4);
}

button.btn:hover {
  cursor: pointer;
}

.container .result {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
  position: relative;
}

.container .result .checkbox {
  border-radius: 4px;
  width: 24px;
  border: 1px solid #828282;
  height: 24px;
  margin-right: 7px;
}

.container .result .text-result {
  color: #000;
  font-size: 18px;
  font-weight: 500;
}

.text-result.text-result_item {
  text-decoration: line-through;
}

.checkbox-item {
  background: #2f80ed;
  align-items: center;
  display: flex;
  justify-content: center;
}
.output-items{
  display: block;
  justify-content: space-between;
}
.result .icon-delete {
  display: flex;
  position: absolute;
  right: 0;
}

.result .checkbox svg path {
  fill: #fff;
}

.result .icon-delete svg path {
  fill: #bdbdbd;
}

.container .btn-deleteall {
  width: 124px;
  display: flex;
  border-radius: 4px;
  background: #eb5757;
  margin-left: 484px;
}

.btn-deleteall .icon-delete {
  fill: #fff;
  display: flex;
  align-items: center;
  margin-right: 3px;
  padding: 12px 0px 12px 26px;
}

.btn-deleteall .text-delete {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding: 12px 0px 12px 3px;
}

.checkbox,
.btn-deleteall,
.icon-delete:hover {
  cursor: pointer;
}
